<nav class="bg-gray-300 p-4 mx-auto">
  <div class="container mx-auto flex justify-between items-center">
    <div class="text-gray-800 text-lg font-semibold">TASK</div>
    <ul class="flex space-x-4">
      <li><a href="/persons" class="text-gray-800  hover:underline">Persons</a></li>
      <li><a href="/persons/summary" class="text-gray-800  hover:underline">Persons-Summary</a></li>
      <li><a href="/person/add" class="text-gray-800  hover:underline">Add-Person</a></li>
    </ul>
  </div>
</nav>
